.box {
  width: 100px;
  height: 80%;
  height: -80px;
  height: 200%;
  width: 80px;
  width: 90rem;
  width: 99.73541667cm;
  width: 1000px;
  width: 750px;
  width: 18000px;
  width: 0.46296296rem;
}
